<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script>
function setUserId() {
  var element = document.getElementById('user_id_field');
  element.value = getParameterByName('user_id');
}

$(document).ready(function() {

$('.form').find('input, textarea').on('keyup blur focus', function (e) {
  
  var $this = $(this),
      label = $this.prev('label');

	  if (e.type === 'keyup') {
			if ($this.val() === '') {
          label.removeClass('active highlight');
        } else {
          label.addClass('active highlight');
        }
    } else if (e.type === 'blur') {
    	if( $this.val() === '' ) {
    		label.removeClass('active highlight'); 
			} else {
		    label.removeClass('highlight');   
			}   
    } else if (e.type === 'focus') {
      
      if( $this.val() === '' ) {
    		label.removeClass('highlight'); 
			} 
      else if( $this.val() !== '' ) {
		    label.addClass('highlight');
			}
    }

});

$('.tab a').on('click', function (e) {
  
  e.preventDefault();
  
  $(this).parent().addClass('active');
  $(this).parent().siblings().removeClass('active');
  
  target = $(this).attr('href');

  $('.tab-content > div').not(target).hide();
  
  $(target).fadeIn(600);
  
});

$('#name_textarea').on({
    mouseenter: function(){
        $('#name_label').hide()
    },
    mouseleave: function(){
        var inp = $("#name_textarea").val();
        if(inp.length == 0)
        {
           $('#name_label').show()
        }
    },
    keypress: function(){
        $('#name_label').hide()
    },
});

$('#details_textarea').on({
    mouseenter: function(){
        $('#details_label').hide()
    },
    mouseleave: function(){
        var inp = $("#details_textarea").val();
        if(inp.length == 0)
        {
           $('#details_label').show()
        }
    },
    keypress: function(){
        $('#details_label').hide()
    },
});

});


function getParameterByName(name) {
   name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
   var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
       results = regex.exec(location.search);
   return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

</script>

<style>
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  background: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
a:hover {
  color: #179b77;
}

.form {
  background: #ffffff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .5s ease;
          transition: .5s ease;
}
.tab-group li a:hover {
  background: #179b77;
  color: #000000;
}
.tab-group .active a {
  background: #1ab188;
  color: #000000;
}

/*.tab-content > div:last-child {
  display: none;
}
*/
h1 {
  text-align: center;
  color: #000000;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  left: 13px;
  color: #a0b3b0;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 18px;
}
label .req {
  margin: 2px;
  color: #ff2200;
}

label.active {
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
  left: 2px;
  font-size: 12px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #000000;
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 13%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}

.details {
  font-size: 22px;
  /*display: block;*/
  width: 100%;
  height: 50%;
  padding: 27px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #000000;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
          transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline: 0;
  border-color: #300030;
}

textarea {
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #a0b3b0;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #300030;
}

.button-block {
  display: block;
  width: 100%;
}

</style>

<div class="form">
      <div class="tab-content">
        <div id="project">
          <h1>Create New Project</h1>
          <form action="/create_post/store_uid" method="post">
          <div class="field-wrap">
            <label id="name_label">
              Project Name<span class="req">*</span>
            </label>
            <input name="project_name"id="name_textarea"type="text"required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <label id="details_label">
              Project Details<span class="req">*</span>
            </label>
            <textarea name="project_details"id="details_textarea"class="details"type="text"></textarea>
          </div>

          <INPUT id="user_id_field" type="hidden" name="user_id">
          <button type="submit" class="button button-block" onClick="setUserId()"/>Create Project</button>
          
          </form>

        </div>
      </div>
      
</div>