<!-- <form action="/testing/receive_message/" method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='SWmogmsjhATHZYezJIQr7oAxl1ZqGkvS' />
    <tr><th><label for="id_Header">header:</label></th><td><input id="id_Header" maxlength="100" name="Header" type="text" /></td></tr>
<tr><th><label for="id_Project">project:</label></th><td><input id="id_Project" maxlength="100" name="Project" type="text" /></td></tr>
<tr><th><label for="id_Message">body:</label></th><td><textarea cols="40" id="id_Message" name="Message" rows="10">
</textarea></td></tr>
    <input type="submit" value="Submit" />
</form>

 -->

<script>

function f(form, header, project, body, tags) {
	att = form.action;
	window.alert(form.action);
    $.post(att, {
        header: header.value,
        project: project.value,
        body: body.value,
        tags: tags.value
    }).done(function (data) {
        alert(data);
    });
    window.alert(form.action);
    return true;
}

function ajax_fn(form, header, project, body, tags) {
	// var header = document.getElementById("header").value;
	// var project = document.getElementById("project").value;
	// var body = document.getElementById("body").value;
	// var tags = document.getElementById("tags").value;
	var dataString = 'header=' + header.value + '&project=' + project.value + '&body=' + body.value + '&tags=' + tags.value;
	$.ajax({
	type: "POST",
	url: form.action,
	data: dataString,
	cache: false,
	success: function(html) {
					alert(html);
				},
	error: function(data) {
				window.alert("error");
            }
	});
	return true;
}

</script>

<form action="/testing/test/" method="post">
	{% csrf_token %}
	Header:
	<input type="text" name="header">
	<br>
	Project:
	<input type="text" name="project">
	<br>
	Body:
	<input type="text" name="body" cols="50" rows="10">
	<br>
	Tags:
	<input type="text" name="tags">
	<br>
	<input type="submit" value="Submit" />
	<br>
	<input id="submit" onclick="return ajax_fn(this.form ,this.form.header ,this.form.project, this.form.body, this.form.tags)" type="button" value="Submit_trial">
</form>
